<div id='login'>	
	<h3>Log in</h3>
	<%= form_tag sessions_path do %>
        <p>
		<label for="username">Email Address</label>
		<%= text_field_tag :email, params[:email] %>
        </p>
		<p>
		<%= label_tag :password %>
		<%= password_field_tag :password %>
		</p>
		<div style="font-size:11.5px;">
	        <label for="remember_me"></label>
	        <%= check_box_tag :remember_me %> <span><small>Remember on computer</small></span>
	    </div>
		<div style="margin:20px;text-align:center;">
		  <%= submit_tag "Log in", :class => "button" %>
		</div>
	<% end %>
</div>




