<div id="content-wrap">
  <div id="main"> 
    <h2>ADD PAYMENT</h2>
	<br />
	<%= form_for @tour, :url => add_payment_url,:html => {:method => :put} do |f| %>
	<% if @tour.errors.any? %>
    <div class="well well-sm">
	  <h5>Form is valid</h5>
	  <ul>
		  <% for message in @tour.errors.full_messages %>
		  <li><%= message%></li>
		  <% end %>
	  </ul>
	</div>
  <% end %>
		<%= f.label :paid, 'Paid Date', :style => "margin-right: 10px" %>
		<%= f.text_field :paid, :style => "width: 100px" %> format: XX/XX/2014
		<br /><br />
		<%= f.label :a, 'Catt', :style => "margin-right: 40px" %>
		<%= f.text_field :a, :style => "width: 100px" %>
		<br /><br />
		<%= f.label :b, 'Princes', :style => "margin-right: 20px" %>
		<%= f.text_field :b, :style => "width: 100px" %>
		<br /><br />
		<%= f.label :c, 'Jade', :style => "margin-right: 35px" %>
		<%= f.text_field :c, :style => "width: 100px" %>
		<br /><br />
		<%= f.label :d, 'Jen', :style => "margin-right: 40px" %>
		<%= f.text_field :d, :style => "width: 100px" %>
		<br /><br />
		<%= f.label :e, 'Krisel', :style => "margin-right: 25px" %>
		<%= f.text_field :e, :style => "width: 100px" %>
		<br /><br />
		<%= submit_tag "Save", :class => "btn btn-primary btn-xs" %>
	<% end %>

  </div>



</div>

