<%= render :partial => "layouts/mainlinks" %>

<div id="content-wrap">
<div id="sidebar">
<% if admin_role %>
 <h1>Projects <%= @person.name %> can access...</h1>
    <%= form_for(@person,:url => person_url(@person),:html => {:method => :put,:id => "campaign_access",:class => "contact"}) do |f| %>
        <% Project.is_active.each do |project| %>
            <%= label_tag accessible_project_id(project),:class => "check" do %>
                <%= check_box_tag 'person[accessible_project_ids][]', project.id, @person.accessible_project_ids.include?(project.id), :id => accessible_project_id(project) %>
                <%= project.name %>
                <br>
            <% end %>
        <% end %>
        <div class="submit">
            <p class="align-right"><%= submit_tag "Update project access", :class => "button" %></p> 
        </div>
    <% end %>

  <h1> Deleting this person will make status in active. </h1>
  <%= button_to("Delete Person", cancel_person_url(@person), {:onclick => "return confirm('Are you sure you want to delete this person?')", :method => :put, :class => "button" }) %>
<% end %>
</div>


<div id="main"> <a name="TemplateInfo"></a>
<h1>Edit Person Information</h1>

<%= form_for @person,:url => person_url(@person),:html => {:method => :put,:class => "person"} do |f| %>
  <% if @person.errors.any? %>
    <div class="error_messages">
	  <h2>Form is valid</h2>
	  <ul>
		  <% for message in @person.errors.full_messages %>
		  <li><%= message%></li>
		  <% end %>
	  </ul>
	</div>
  <% end %>
  <p>
  <div class="field">
	<%= f.label :firstname %>
	<%= f.text_field :firstname %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :lastname %>
	<%= f.text_field :lastname %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :email %>
	<%= f.text_field :email %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :password %>
	<%= f.password_field :password, :value => @person.password, :style => "width:275px" %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, :value => @person.password %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
    <% if admin_role %>
	<%= f.check_box :is_system_admin %>
	<b><%= f.label :is_system_admin %></b>
	<% end %>
  </div>
  </p>
  <br/>
  <div class="submit">
      <%= submit_tag "Update person", :class => "button" %> <small>or <%= link_to 'cancel', person_url(@person), :class => "red" %></small>
  </div>
<% end %>
</div>

</div>

<div id="footer">
</div>
