<%= render :partial => "layouts/mainlinks" %>
<div id="content-wrap">

<div id="sidebar">
  <%= button_to "Edit Person", edit_person_url,:method => :get, :class => "button" %>
</div>

<div id="main"> <a name="TemplateInfo"></a>
  <h1><%= @person.firstname %> Information</h1> 
  <p>
	      <b>Name:   </b><%= @person.name %> </br>
	      <b>E-mail: </b><%= @person.email %>
  <p>
</div>	

</div>

<div id="footer">
</div>