<script type="text/javascript">
  $j(document).ready(function(){   
	$j('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
	
  })
</script>

<div id="content-wrap">
<div id="main"> <a name="TemplateInfo"></a>	
<h1> Edit Task </h1> 

<%= form_for @task, :url => update_task_project_task_url(:id => @task.id),:html => {:method => :put,:class => "person"} do |f| %>
  <% if @task.errors.any? %>
    <div class="error_messages">
	  <h2>Form is valid</h2>
	  <ul>
		  <% for message in @task.errors.full_messages %>
		  <li><%= message%></li>
		  <% end %>
	  </ul>
	</div>
  <% end %>
  <p>
  <div class='field'>
	<%= f.label :title %>
	<%= f.text_field :title %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :task_type_id %>    
    <%= f.select :task_type_id, @task_types.map {|t| [t.name,t.id] }, {} %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :description %>
	<%= f.text_area :description %>
  </div>
  </p>
  <div class='field'>
	<%= f.hidden_field :project_id, :value => current_project.id %>
	<%= f.hidden_field :updated_by, :value => current_user.id %>
  </div>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.check_box :is_priority %>
	<b><%= f.label :is_priority %></b>
  </div>
  </p>	 
  <p>	 
  <div class="field", style="margin-top:-30px;">	
	<%= f.label :due_date , :id =>"send_to_one"%>   
	<%= f.text_field :due_date, :class => "datepicker", :id =>"send_to_two"  %>
  </div>          
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :severity %>    
    <%= f.select :severity_id, @severities.map {|t| [t.name,t.id] }, {} %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :source %>
    <%= f.select :person_id, @people.map {|t| [t.name,t.id] }, {} %>
  </div>
  </p>
  <p>
  <div style="margin-top:-58px;margin-left:250px;">
    <b>via : </b>  <%= f.select :medium_id, options_for_select(@media.collect{ |p| [p.name, p.id] }) %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :repository_link %>
	<%= f.text_field :repository_link %>
  </div>
  </p>
  <div class="submit">
      <%= submit_tag "Update task", :class => "button" %><small> or <%= link_to 'cancel', project_task_url(:project_id => current_project.id, :id => @task.id), :class => "red" %></small>
  </div>
<% end %>
</div>

<div id="sidebar">
  <h1> Deleting this task will make status in active. </h1>
  <%= button_to("Delete Task", cancel_project_task_url(:project_id => current_project.id, :id => @task.id), {:onclick => "return confirm('Are you sure you want to delete this task?')", :method => :put, :class => "button" }) %>
</div>

</div>
<div id="footer">
</div>