<div id="content-wrap">
<div id="main"> <a name="TemplateInfo"></a>	
  <h1> <%= current_project.name %> - Tasks </h1>
  <%= render :partial => "tasks/task_field" %>	
</div>

<div id="sidebar">
    <%= button_to "Add Task", new_project_task_url,:method => :get, :class => "button" %>

  <h1> Show tasks by: </h1>
  <ul class="sidemenu"> 
    <li><%= link_to "My Task", my_task_project_tasks_url,:method => :get %></li>
	<% if current_role == 'Administrator' || admin_role %>
	    <li><%= link_to "Resolved Task", resolved_task_project_tasks_url,:method => :get %></li>
	    <li><%= link_to "Completed Task", done_task_project_tasks_url,:method => :get %></li>
	<% end %>
	</ul>
</div>

</div>
<div id="footer">
</div>