<div id="left-side" class="matting">	
<h3> <%= current_project.name %> - Tasks </h3>
  
  <ul class="campaigns">
  <% for task in @tasks %>
    <li class="campaign">
    <%= link_to "##{task.task_number} " + " - " + task.title, project_task_url(:project_id => current_project.id, :id => task.id) %>
    <small><div id="smallcheck"> <%= task.task_status.name + " - " + " created at " + task.created_at.strftime("%d %B %Y") + " by " + task.created_person.name + " -- assigned to " + task.assigned_person.name %></small> </div>
    </li>
  <% end %>
  </ul>
</div>

<div id="right-side">
  <% if current_role == 'Administrator' || admin_role %>
    <%= button_to "Add Task", new_project_task_url,:method => :get %>
  <% end %>

  <h5> Show tasks by: </h5>
    <%= link_to "New Task", new_task_project_tasks_url,:method => :get %> <br> <br>
    <%= link_to "My Task", my_task_project_tasks_url,:method => :get %> <br> </br>
	<% if current_role == 'Administrator' || admin_role %>
	    <%= link_to "Resolved Task", resolved_task_project_tasks_url,:method => :get %><br> </br>
	    <%= link_to "Completed Task", done_task_project_tasks_url,:method => :get %>
	<% end %>
</div>