<div id="content-wrap">
<div id="main"> 
  <h2> <%= current_project.name %> - Tasks </h2>
  <% if @tasks.length == 0 %>
	<center>No tasks found.</center>
  <% else %>
  	<%= render :partial => "tasks/task_field" %>	
  <% end %>
</div>

<div id="sidebar">
    <%= button_to "Add Task", new_project_task_url,:method => :get, :class => "btn btn-primary btn-xs" %>
<br/>
	
	<%= form_tag project_tasks_url, :method => 'get' do %>
	<div class="form-group">
	  <label class="control-label">by status, task name, or owner name</label>
	  <div class="input-group">
	    <span class="input-group-addon">Search</span>
	    
		<%= text_field_tag :search, params[:search], :class => "form-control" %>
	    <span class="input-group-btn">	     
		  <%= submit_tag "Go", :name => nil, :class => "btn btn-primary" %>
	    </span>
	  </div>
	</div>
	<% end %>
</div>

</div>
