<script type="text/javascript">
  $j(document).ready(function(){   
	$j('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
  })
</script>

<div id="content-wrap">
<div id="main"> <a name="TemplateInfo"></a>	
<h1> New Task </h1> 

  <%= form_for @task, :url => project_tasks_url, :html => {:class => "person"} do |f| %>
  <% if @task.errors.any? %>
    <div class="error_messages">
	  <h2>Form is valid</h2>
	  <ul>
		  <% for message in @task.errors.full_messages %>
		  <li><%= message%></li>
		  <% end %>
	  </ul>
	</div>
  <% end %>
  <p>
  <div class="field">
	<%= f.label :title %>
	<%= f.text_field :title %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :task_type_id %>
    <%= f.select :task_type_id, options_for_select(@task_types.collect{ |u| [u.name, u.id] }) %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :description %>
	<%= f.text_area :description %>
  </div>
  </p>
  <div class="field">
	<%= f.hidden_field :project_id, :value => current_project.id %>
	<%= f.hidden_field :created_by, :value => current_user.id %>
  </div>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.check_box :is_priority, :onclick => "if(this.checked) 
	                                     { 
	                                      document.getElementById('task_due_date').disabled = false;
	                                      
	                                     }
	                                     else
	                                     {
	                                      document.getElementById('task_due_date').disabled = true;
	                                      
	                                     } " %>
	<b><%= f.label :is_priority %></b>
  </div>
  </p>
  <p>
  <div style="margin-top:-55px;margin-left:125px;">	
    <b>Due Date : </b>  
	<%= f.text_field :due_date, :class => "datepicker", :value => Date.today, :disabled => true  %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :severity %>
    <%= f.select :severity_id, options_for_select(@severities.collect{ |u| [u.name, u.id] }) %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :source %>
    <%= f.select :person_id, options_for_select(@people.collect{ |p| [p.name, p.id] }) %>
  </div>
  </p>
  <p>
  <div style="margin-top:-58px;margin-left:250px;">
    <b>via : </b>  <%= f.select :medium_id, options_for_select(@media.collect{ |p| [p.name, p.id] }) %>
  </div>
  </p>
  <p>
  <div class="field", style="margin-top:-30px;">
	<%= f.label :repository_link %>
	<%= f.text_field :repository_link %>
  </div>
  </p>
  <div class="field">
	<%= f.hidden_field :is_active, :value => true %>
	<%= f.hidden_field :task_status_id, :value => 1 %>
	<%= f.hidden_field :assigned_to, :value => 30 %>
	<%= f.hidden_field :task_number, :value => @task_number %>
  </div>
  <div class="submit"><%= f.submit%></div>
</div>

<div id="sidebar">
  <h1> Person to notify: </h1>
    <p>
	  <% check_box_tag("master",1,false,{ :id => "select_all", :onclick => "toggleItems(this,'people')" }) %>
    <% @permissions.each do |permission| %>
	  <% if permission.person_id == current_user.id || permission.person_id == 30 %>	
      <%= check_box_tag("people[]",permission.person.id,true,{ :class => "people", :onclick => "toggleMaster(this,'select_all')" }) %>
	  <% else %>
		<%= check_box_tag("people[]",permission.person.id,false,{ :class => "people", :onclick => "toggleMaster(this,'select_all')" }) %>
	  <% end %>	
	&nbsp;<span><%= permission.person.name %>
   <br>
    <% end %>
    </p>
</div>
<% end %>

</div>
<div id="footer">
</div>