<div id="content-wrap">
<div id="main"> <a name="TemplateInfo"></a>	
<h1> <%= current_project.name %> - Tasks </h1>

<% @grouped_tasks.each do |task_status, tasks| %>
	<h3><%= task_status.name %></h3>
	<% tasks.each do |task| %>
	
	  <p style="margin-left:20px;margin-top:-16px;"> <strong><%= link_to "#" + task.task_number.to_s + " - " + truncate(task.title, :length => 35, :omission=>("...")) , project_task_url(:project_id =>  task.project_id, :id => task.id) %></strong> (<%= task.assigned_person.nickname %>)</p>
	
	  <% if current_user.id == task.assigned_to && task.task_status.name != "New"  %>
	    <p class="post-footer_you align-right" style="margin-top:-30px;">
	  <% else %>
		<p class="post-footer align-right" style="margin-top:-30px;">
	  <% end %>
	  <span class="date"><%= task.due_date.strftime("%d %B %Y") %> </span>
	  <% if task.task_status.name == "Closed" %>
		<span class="date"><%= task.date_completed.strftime("%d %B %Y") %> </span> 
	  <% elsif task.task_status.name == "Resolved" %>
		<span class="date"><%= task.date_resolved.strftime("%d %B %Y") %> </span>
	  <% else %>
	  	<span class="date"><%= task.due_date.strftime("%d %B %Y") %> </span> 
	  <% end %>
	  </p><br />
  <% end %>
<% end %>
</div>

<div id="sidebar">
  <% if current_role == 'Administrator' || admin_role %>
    <%= button_to "Add Task", new_project_task_url,:method => :get, :class => "button" %>
  <% end %>

  <h1> Show tasks by: </h1>
    <ul class="sidemenu">
    <li><%= link_to "My Task", my_task_project_tasks_url,:method => :get %></li>
	<% if current_role == 'Administrator' || admin_role %>
	    <li><%= link_to "Resolved Task", resolved_task_project_tasks_url,:method => :get %></li>
	    <li><%= link_to "Completed Task", done_task_project_tasks_url,:method => :get %></li>
	<% end %>
	</ul>

</div>
</div>
<div id="footer">
</div>