<div id="content-wrap">
	<div id="main"> <a name="TemplateInfo"></a>	
	<h1> <%= current_project.name %> - Resolved Task </h1>


		<br />
	  <% for task in @tasks %>
	    <p class="post-footer align-left">
	    <b><%= link_to "##{task.task_number} " + " - " + task.title, project_task_url(:project_id => current_project.id, :id => task.id) %></b>
	    (<%= task.task_status.description %>   
		<% if current_user.id == task.assigned_to %>
			<b>You</b>)
		<% else %>
			<%= task.assigned_person.firstname %>)
		<% end %><br/>
		<%= "created at " + task.created_at.strftime("%d %B %Y") + " by " + task.created_person.name   %>
	    </p>
		<br />
	  <% end %>
  	  <center><%= will_paginate @tasks %></center>

	</div>

<div id="sidebar">
  <% if current_role == 'Administrator' || admin_role %>
    <%= button_to "Add Task", new_project_task_url,:method => :get, :class => "button" %>
  <% end %>

  <h1> Show tasks by: </h1>
    <ul class="sidemenu">
    <li><%= link_to "My Task", my_task_project_tasks_url,:method => :get %></li>
	<% if current_role == 'Administrator' || admin_role %>
	    <li><%= link_to "Resolved Task", resolved_task_project_tasks_url,:method => :get %></li>
	    <li><%= link_to "Completed Task", done_task_project_tasks_url,:method => :get %></li>
	<% end %>
	</ul>

</div>
</div>
<div id="footer">
</div>