<script>
$j(document).ready(function() {
  $j('#task_task_status_id').change(function(){
	var txt = $j("#task_task_status_id :selected").text();
	if(txt == 'Re-Assigned'){	  
	  $j('#reassigned').val(Number('<%= @task.reassigned_count %>') + (1));
	  $j('#reopen').val('<%= @task.reopen_count %>');
	  }
	else if(txt == 'Re-Open'){	  
	  $j('#reassigned').val('<%= @task.reassigned_count %>');
	  $j('#reopen').val(Number('<%= @task.reopen_count %>') + (1));
	  }
	else if(txt == 'Invalid' ){
	  $j('#ddlViewBy').attr('disabled', 'disabled');
	  $j('#ddlViewBy').val('<%= @task.assigned_to %>');
	  $j('#reassigned').val('<%= @task.reassigned_count %>');
	  $j('#reopen').val('<%= @task.reopen_count %>');
	  }	
    else{
      $j('#ddlViewBy').removeAttr('disabled');	
      $j('#reassigned').val('<%= @task.reassigned_count %>');
      $j('#reopen').val('<%= @task.reopen_count %>');
	}
  });

  $j('#ddlViewBy').change(function(){
	var e = document.getElementById("ddlViewBy");
	var strUser = $j(this).val();
    $j('#person-' + strUser).prop("checked", true).checkboxradio("refresh");
  });


  CKEDITOR.replace('_Text', { toolbar : [ ['Bold','Italic','Underline','Strike','Link','Image','Styles','Font','FontSize','TextColor','BGColor'] ] });
});
</script>
<div id="content-wrap">
<div id="main"> <a name="TemplateInfo"></a>	
  <h1>#<%= @task.task_number %> - <%= @task.title %></h1> 
	  
	  <p><strong>Status:</strong> <%= @task.task_status.name %> <% if @task.is_priority == 1 %>(Priority)<%end%></p>
	  <p style="margin-top:-20px;"><strong>Due date:</strong> <% if @task.is_priority == 1 %><%= @task.due_date.strftime("%d %B %Y") %> <% else %> N/A<%end%></p>
	  <p style="margin-top:-20px;"><strong>Created by:</strong> <%= @task.created_person.name %></p>
      <p style="margin-top:-20px;"><strong>Created at:</strong> <%= @task.created_at.strftime("%d %B %Y") %></p>
      <p style="margin-top:-20px;"><strong>Assigned to:</strong> <%= @task.assigned_person.name %></p>
	  <p style="margin-top:-20px;"><strong>RE-ASSIGNED COUNT:</strong> <%= @task.reassigned_count %></p>
	  <p style="margin-top:-20px;"><strong>RE-OPEN COUNT:</strong> <%= @task.reopen_count %></p>
	  <% if @task.task_status.name == 'Resolved' || @task.task_status.name == 'Closed'%>
	    <p style="margin-top:-20px;"><strong>Date Resolved:</strong> <%= @task.date_resolved.strftime("%d %B %Y") %></p>
	  <% end %>
      <% if @task.task_status.name == 'Closed'%>
        <p style="margin-top:-20px;"><strong>Date Completed:</strong> <%= @task.date_completed.strftime("%d %B %Y") %></p>
      <% end %> </br>    
      <p style="margin-top:-20px;"><code><strong>Repository Link:</strong> <%= @task.repository_link %></code></p><br />

       <p style="margin-top:-20px;">	      
	     <strong>Description: </strong><%= @task.task_type.name %>(<%= @task.severity.name %>)
		 <br></br> <%= h(@task.description).gsub(/\n/, '<br />').html_safe %>
	   </p><br />
	   <p style="margin-top:-20px;"><strong>Source:</strong> <%= @task.source_person.name %> via <%= @task.medium.name %></p>
		 	
		  <% for comment in @comments.is_active %>
	        <div style="text-align:right;margin-right:-16px;margin-bottom:-10px;">
		      <% if comment.created_by == current_user.id %>
	             <%= button_to("x", remove_project_task_url(:id => comment.id, :task_id => comment.task_id), {:onclick => "return confirm('Are you sure you want to remove this comment?')", :method => :put, :class => "button" }) %>	
	          <% end %></div>
		  <blockquote>
          <p>		    			
			<%= raw(comment.comment) %>

			<small><div id="smallcheck", style="text-align:right;margin-right:5px;">
			<b><%= comment.created_person.email %></b>   
		    <%= comment.created_at.strftime("%a, %d %B %Y at %I:%M%p") %></small></div>  
	  	  </p>
		  </blockquote>
		  <% end %>
		
		  <%= form_for(@comment, :url => project_task_comments_url(:task_id => @task.id),:html => {:id => 'comment', :multipart => true}) do |f| %>
		<br >		
		  <%= f.label(:comment, "Leave a comment...") %><br />
		  <%= f.text_area(:comment, :id => "_Text" ) %><br /> 
		  <%= f.hidden_field :created_by, :value => current_user.id %>
		  <%= f.hidden_field :is_active, :value => true %>
		<% if current_role != 'Spectator' %>
		  <%= f.submit("Post") %>
		
		<% end %>
		  <% end %> 
</div>

<div id="sidebar">
<% if current_role == 'Administrator' || admin_role || ( @task.assigned_to == current_user.id && (@task.task_status.name != 'Resolved' && @task.task_status.name != 'Closed' && @task.task_status.name != 'Invalid' && @task.task_status.name != 'New') )   %>
    <%= button_to "Edit Task", edit_project_task_url(:project_id => current_project.id, :id => @task.id), :method => :get, :class => "button" %>

  
<%= form_for @task, :url => project_task_url(:id => @task.id),:html => {:method => :put,:class => "person"} do |f| %>
  <% if @task.errors.any? %>
    <div class="error_messages">
	  <h2>Form is valid</h2>
	  <ul>
		  <% for message in @task.errors.full_messages %>
		  <li><%= message%></li>
		  <% end %>
	  </ul>
	</div>
  <% end %>

  <div class='field'>
	<%= f.hidden_field :project_id, :value => current_project.id %>
	<%= f.hidden_field :updated_by, :value => current_user.id %>
  </div>

  <h1> Assigned Task to: </h1>
  <p>
	<%= f.hidden_field :reassigned_count , :id => "reassigned" %>
	<%= f.hidden_field :reopen_count , :id => "reopen" %>
	
	  <% if @task.task_status.name == 'Invalid' %> 
	    <%= f.hidden_field :task_status_id, :value => 2 %>
	   <% else %>
	    <%= f.label :task_status_id, {}, :style => "margin-right: 10px" %>  
	    <%= f.select :task_status_id, @task_statuses.map {|t| [t.name,t.id] }, {}, :style => "width:150px", :onclick => "handleSelect()" %>
	   <% end %>
	
	   <% if @task.task_status.name == 'Assigned' || @task.task_status.name == 'Accepted' || @task.task_status.name == 'Resolved' || @task.task_status.name == 'Closed' || @task.task_status.name == 'Re-Open' || @task.task_status.name == 'Re-Assigned' %>
		<% if @task.task_status.name == 'Accepted' %>
		  <%= f.hidden_field :date_resolved, :value => Time.now %>
		<% end %>
        <% if @task.task_status.name == 'Resolved' %>
	      <%= f.hidden_field :date_completed, :value => Time.now %>    
	    <% end %>        
      <% else %>
	    <%= f.label :assigned_to, {}, :style => "margin-right: 10px" %>    
	    <%= f.select :assigned_to, @permissions.map {|u| [u.person.name,u.person.id] }, {}, :style => "width:130px" ,:id => "ddlViewBy" %>
      <% end %>
  </p>

  <p class="align-right">
      <%= submit_tag "Assign task", :class => "button" %>
  </p>

  <h1> Person to notify: </h1>
    <p>
	  <% check_box_tag("master",1,false,{ :id => "select_all", :onclick => "toggleItems(this,'people')" }) %>
    <% @permissions.each do |permission| %>
    <% if permission.person_id == current_user.id || permission.person_id == 30 || permission.person_id == @task.assigned_to %>
      <%= check_box_tag("people[]",permission.person.id,true,{ :class => "people", :id => "person-#{permission.person_id}", :onclick => "toggleMaster(this,'select_all')" }) %>
    <% else %>
      <%= check_box_tag("people[]",permission.person.id,false,{ :class => "people", :id => "person-#{permission.person_id}", :onclick => "toggleMaster(this,'select_all')" }) %>
    <% end %>
	&nbsp;<span><%= permission.person.name %>
   <br>
    <% end %>
    </p>
<% end %>
<% end %>
</div>
</div>
<div id="footer">
</div>

