<% @grouped_tasks.each do |project, tasks| %>
	<h3><%= project.name %></h3>
	<% tasks.each do |task| %>
	  <p style="margin-left:20px;margin-top:-16px;"> <strong><%= link_to "#" + task.task_number.to_s + " - " + truncate(task.title, :length => 30, :omission=>("...")) , project_task_url(:project_id =>  task.project_id, :id => task.id) %></strong> (<%= task.task_status.name %>) </p>
	
	  <p class="post-footer align-right" style="margin-top:-30px;">
	  <a class="comments" href="http://<%= request.env['HTTP_HOST'] %>/projects/<%=  task.project_id %>/tasks/<%= task.id %>#read">Comments(<%= task.comments.is_active.length %>)</a> <span class="date"><%= task.due_date.strftime("%d %B %Y") %> </span> 
	  </p><br />
	<% end %>
<% end %>