<table class="table table-striped table-hover ">
	<thead>
	  <tr>
		<th></th>
		<th>Comment</th>
		<th>Status</th>
		<th>Owner</th>
	    <th>Due Date</th>
	  </tr>
	</thead>
<% @grouped_tasks.each do |project, tasks| %>
<thead>
  <tr>
	<th><%= project.name %></th>
	<th></th>
	<th></th>
	<th></th>
    <th></th>
  </tr>
</thead>
	<% tasks.each do |task| %>
  <tbody>
  <% if task.task_status.name == "Accepted" %>
	<tr class="info">
  <% elsif task.task_status.name == "Resolved" || task.task_status.name == "Closed" %>	
	<tr class="success">
  <% elsif task.task_status.name == "Re-Assigned" %>	
	<tr class="warning">
  <% elsif task.task_status.name == "Re-Open" %>	
	<tr class="danger">
  <% else %>
    <tr class="active">
  <% end %>
	<td><%= link_to "#" + task.task_number.to_s + " - " + truncate(task.title, :length => 70, :omission=>("...")) , project_task_url(:project_id =>  task.project_id, :id => task.id) %></td>	
	
	<td><a href="http://<%= request.env['HTTP_HOST'] %>/projects/<%=  task.project_id %>/tasks/<%= task.id %>#read">Comments(<%= task.comments.is_active.length %>)</a></td>
	
	<td><%= task.task_status.name %></td>
	<td><% if task.task_status.name == "New" %>N/A<% elsif current_user.id == task.assigned_to %><b>You</b><% else %><%= task.assigned_person.nickname %><% end %></td>
	<td><%= task.due_date.strftime("%d %B %Y") %></td>
    </tr>
  </tbody>		
	<% end %>
<% end %>

</table>