<div id="content-wrap">
  <div id="main"> <a name="TemplateInfo"></a>
    <h1>Dashboard - My Tasks</h1>
    <%= render :partial => "projects/task_field" %>	
  </div>

  <div id="sidebar">
	<% if current_user.permissions.length > 0 %>
	<h1>My Projects</h1>	
	<ul class="sidemenu">
	<% for project in @projects %>
	 <li><%= link_to project.name, project_tasks_url(project) %></li>
	<% end %>
	</ul>
		
	<h1>My Task Status</h1>
	<ul>
	  <li><b><%= link_to "Pending", pending_task_url,:method => :get %></b></li>
	  <li><b><%= link_to "On going", ongoing_task_url,:method => :get %></b></li>
	  <li><b><%= link_to "Done", closed_task_url,:method => :get %></b></li>
	</ul>
	<% end %>
	
	<h1>Reports</h1>
    <ul>
	 <li><b><%= link_to "Overdue", overdue_url,:method => :get %></b></li>
	 <li><b><%= link_to "New Task", new_task_url,:method => :get %></b></li>
	 <li><b><%= link_to "Invalid Task", invalid_task_url,:method => :get %></b></li>
	 <% if admin_role %>
	   <li><b><%= link_to "Resolved Task", resolved_task_url,:method => :get %></b></li>
	   <li><b><%= link_to "Completed Task", done_task_url,:method => :get %></b></li>
	 <% end %>
    </ul>	
  </div>
</div>

<div id="footer">
</div>