<div id="menu">
	<ul>    
		<li id="current"><%= link_to 'Dashboard',dashboard_url %></li>
		<li><%= link_to 'Projects',projects_url %></li>
		<% if admin_role %>	
			<li><%= link_to 'People', people_url %></li>
		<% end %>
	</ul>
</div>


<div id="content-wrap">
<div id="main"> <a name="TemplateInfo"></a>
  <h1>Completed - Tasks</h1>
  
<% for project in @projects  %>
<% if @tasks.where(:project_id => project.id).length > 0 %>
  <h3><%= project.name %></h3>
<% end %>
<% for task in @tasks %>
	<% if task.project_id == project.id %>
	  <% current_proj = Project.where(:id => task.project_id).first %>
	  <% task_count = Comment.where(:task_id => task.id, :is_active => 1).length %>
	  <p style="margin-left:20px;margin-top:-16px;"> <strong><%= link_to "#" + task.task_number.to_s + " - " + truncate(task.title, :length => 30, :omission=>("...")) , project_task_url(:project_id => current_proj.id, :id => task.id) %></strong> (<%= task.task_status.description %> <% if current_user.id == task.assigned_to %><b>You</b><% else %><%= task.assigned_person.firstname %><% end %>)</p>

	  <% if current_user.id == task.assigned_to %>
	    <p class="post-footer_you align-right" style="margin-top:-30px;">
	  <% else %>
		<p class="post-footer align-right" style="margin-top:-30px;">
	  <% end %>
	  <a class="comments" href="http://<%= request.env['HTTP_HOST'] %>/projects/<%= current_proj.id %>/tasks/<%= task.id %>#read">Comments(<%= task_count %>)</a> <span class="date"><%= task.due_date.strftime("%d %B %Y") %> </span> 
	  </p><br />
	<% end %>
<% end %>
<% end %>	
</div>

<div id="sidebar">
	<h1>My Projects</h1>
	<ul class="sidemenu">
	<% for project in @projects %>	
	 <li><%= link_to project.name, project_tasks_url(project) %></li>
	<% end %>
	</ul>
	
	<h1>My Task Status</h1>
	<ul>
	  <li><b><%= link_to "Pending", pending_task_url,:method => :get %></b></li>
	  <li><b><%= link_to "On going", ongoing_task_url,:method => :get %></b></li>
	  <li><b><%= link_to "Done", closed_task_url,:method => :get %></b></li>
	</ul>
	
	<h1>Reports</h1>
	  <ul>
	 <li><b><%= link_to "Overdue", overdue_url,:method => :get %></b></li>
	 <li><b><%= link_to "New Task", new_task_url,:method => :get %></b></li>
	 <li><b><%= link_to "Invalid Task", invalid_task_url,:method => :get %></b></li>
	 <% if admin_role %>
	   <li><b><%= link_to "Resolved Task", resolved_task_url,:method => :get %></b></li>
	   <li><b><u><%= link_to "Completed Task", done_task_url,:method => :get %></u></b></li>
	 <% end %>
	 </ul>
	
</div>

</div>



<div id="footer">
</div>