<div id="content-wrap">	
	<div id="sidebar">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Deleting this project will make status in active.</h3>
	  </div>
		<div class="panel-body", align="right">
	  <%= button_to("Delete Project", cancel_project_url(@project), {:onclick => "return confirm('Are you sure you want to delete this project?')", :method => :put, :class => "btn btn-default btn-xs" }) %>
	  </div>
	</div>		
	</div>

<div id="main">	
<%= form_for @project, :html => {:method => :put,:class => "person"} do |f| %>
<legend> Edit Project</legend>
  <% if @project.errors.any? %>
    <div class="well well-sm">
	  <h5>Form is valid</h5>
	  <ul>
		  <% for message in @project.errors.full_messages %>
		  <li><%= message%></li>
		  <% end %>
	  </ul>
	</div>
  <% end %>
  <p>
  <div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
  </div></p>
  <p>
  <div class="field">
	<%= f.label :description %>
	<%= f.text_area :description, :size => "38x20" %>
  </div></p>  
	<%= f.hidden_field :updatedby, :value => current_user.id %> 
  <br />
  <div class="submit">
      <%= submit_tag "Update project", :class => "btn btn-primary btn-xs" %> <small>or <%= link_to 'cancel', overview_project_url(@project), :class => "red" %></small>
  </div>

<% end %>
</div>

</div>