<div id="content-wrap">
  <div id="sidebar">
    <%= button_to "Add Project", new_project_url,:method => :get, :class => "button" %>
  </div>
	
  <div id="main"> <a name="TemplateInfo"></a>
  <h1> Projects </h1> 
  	<% for project in @projects %>
	  <% project_per_task = Task.where(:project_id => project.id) %>
	  <p style="margin-left:10px;"> <strong><%= link_to project.name, overview_project_url(project) %></strong>(<%= project_per_task.length %>)</p>
	  <p class="post-footer align-right" style="margin-top:-30px;">Created<span class="date"><%= project.created_at.strftime("%d %B %Y") %></span> Last Task Added <span class="date"><%= project_per_task.last.created_at.strftime("%d %B %Y") %></span> </p>
	<% end %>
	<br/>
  </div>
</div>

<div id="footer">
</div>

