<div id="content-wrap">	
<div id="main"> 
<%= form_for @project, :html => {:class => "person"} do |f| %>
<legend>New Project</legend>
  <% if @project.errors.any? %>
    <div class="well well-sm">
	  <h5>Form is valid</h5>
	  <ul>
		  <% for message in @project.errors.full_messages %>
		  <li><%= message%></li>
		  <% end %>
	  </ul>
	</div>
  <% end %>
  <p>
  <div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
  </div></p>
  <p>
  <div class="field">
	<%= f.label :description %>
	<%= f.text_area :description %>
  </div></p>
	<%= f.hidden_field :createdby, :value => current_user.id %>
	<%= f.hidden_field :is_active, :value => true %>
  <div class="submit"><%= submit_tag "Create Project", :class => "btn btn-primary btn-xs" %><small> or <%= link_to 'cancel', projects_url, :class => "red" %></small></div>
<% end %>
</div>
</div>