<div id="content-wrap">
  <div id="main"> 
    <h2>New - Tasks</h2>
    <%= render :partial => "projects/task_field" %>	
  </div>

  <div id="sidebar">		
	<div class="panel panel-default" style="margin-bottom:-5px;">
	  <div class="panel-heading">
	    <h3 class="panel-title">Reports</h3>
	  </div>
	</div>
    <div class="list-group">
	 <%= link_to "Overdue", overdue_url,:method => :get, :class => "list-group-item" %>
	 <%= link_to "New Task", new_task_url,:method => :get, :class => "list-group-item active" %>
	 <%= link_to "Invalid Task", invalid_task_url,:method => :get, :class => "list-group-item" %>
	 <% if admin_role %>
	   <%= link_to "Resolved Task", resolved_task_url,:method => :get, :class => "list-group-item" %>
	   <%= link_to "Completed Task", done_task_url,:method => :get, :class => "list-group-item" %>
	 <% end %>
    </div>	
  </div>

</div>

