<table>
	<thead>
	  <tr>
		<th></th>
	    <th>Title</th>	   
	    <th>Status</th>
	    <th>Owner</th>
		<th>Due/ Resolved Date</th>
		<th>Error Count</th>
	  </tr>
	</thead>
<% @grouped_tasks.each do |project, tasks| %>
<thead>
  <tr>
	<th><%= project.name %></th>
	<th></th>
	<th></th>
	<th></th>
    <th></th>
	<th></th>
  </tr>
</thead>
	<% tasks.each do |task| %>
  <tbody>
    <tr>
		<td></td>
	    <td><%= "#" + task.task_number.to_s + " - " + task.title %></td>	    
	    <td><%= task.task_status.name %></td>
	    <td><%= task.assigned_person.nickname %></td>
		<% if task.task_status.name == "Resolved" || task.task_status.name == "Closed" %>
			<td><%= task.due_date.strftime('%F') %></td>
		<% else %>
			<td><%= task.due_date %></td>
		<% end %>
		<td><%= task.reassigned_count %></td>
    </tr>
  </tbody>		
	<% end %>
<% end %>

</table>