<table>
  <tr>
    <th>Title</th>
    <th>Project Name</th>
    <th>Status</th>
    <th>Owner</th>
	<th>Due/ Resolved Date</th>
	<th>Error Count</th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= "#" + task.task_number.to_s + " - " + task.title %></td>
    <td><%= task.project.name %></td>
    <td><%= task.task_status.name %></td>
    <td><%= task.assigned_person.nickname %></td>
	<% if task.task_status.name == "Resolved" || task.task_status.name == "Closed" %>
		<td><%= task.date_resolved %></td>
	<% else %>
		<td><%= task.due_date %></td>
	<% end %>
	<td><%= task.reassigned_count %></td>
  </tr>
  <% end %>
</table>