<div id="menu">
	<ul>    
		<li id="current"><%= link_to 'Dashboard',dashboard_url %></li>
		<li><%= link_to 'Projects',projects_url %></li>
		<% if admin_role %>	
			<li><%= link_to 'People', people_url %></li>
		<% end %>
	</ul>
</div>


<div id="content-wrap">
<div id="main"> <a name="TemplateInfo"></a>
  <h1>Resolved - Tasks</h1>
  
	<% for task in @tasks %>
	  <% current_proj = Project.where(:id => task.project_id).first %>
	  <% task_count = Comment.where(:task_id => task.id, :is_active => 1).length %>
	  <% if current_user.id == task.assigned_to %>
	    <p class="blockquote_you" align="justify">
	  <% else %>
	    <p class="blockquote" align="justify">
	  <% end %>
	  <strong><%= link_to task.title , project_task_url(:project_id => current_proj.id, :id => task.id) %></strong> (<%= task.task_status.description %> <% if current_user.id == task.assigned_to %><b>You</b><% else %><%= task.assigned_person.firstname %><% end %>) <%= truncate(task.description, :length => 250, :omission=>("...")) %></p>
	  <p style="margin-left:20px;margin-top:-16px;"> <%= task.source_person.name %> via <%= task.medium.name %></p>
	  <% if current_user.id == task.assigned_to %>
		<p class="post-footer_you align-right" style="margin-top:-30px;">
	  <% else %>
		<p class="post-footer align-right" style="margin-top:-30px;">
	  <% end %>
	  <span class="readmore"><%= task.project.name %></span><a class="comments" href="http://<%= request.env['HTTP_HOST'] %>/projects/<%= current_proj.id %>/tasks/<%= task.id %>#read">Comments(<%= task_count %>)</a> <span class="date"><% if task.is_priority == 1 %><%= task.due_date.strftime("%d %B %Y") %> <% else %> <%= task.created_at.strftime("%d %B %Y") %><%end%></span> 
	  </p><br />
	<% end %>
	<center><%= will_paginate @tasks %></center>
	
</div>

<div id="sidebar">
	<h1>My Projects</h1>
	<ul class="sidemenu">
	<% for project in @projects %>
	 <% @task_count = Task.where(:project_id => project.id, :assigned_to => current_user.id).length %>	
	 <li><%= link_to project.name, project_tasks_url(project) %>(<%= @task_count %>)</li>
	<% end %>
	</ul>
	
	<h1>My Task Status</h1>
	<ul>
	  <li><b><%= link_to "Pending", pending_task_url,:method => :get %></b>(<%= @pending_tasks.length %>)</li>
	  <li><b><%= link_to "On going", ongoing_task_url,:method => :get %></b>(<%= @ongoing_tasks.length %>)</li>
	  <li><b><%= link_to "Done", closed_task_url,:method => :get %></b>(<%= @closed_tasks.length %>)</li>
	</ul>
	
	<h1>Reports</h1>
	  <ul>
	 <li><b><%= link_to "Overdue", overdue_url,:method => :get %></b>(<%= @overdue_tasks.length %>)</li>
	 <li><b><%= link_to "New Task", new_task_url,:method => :get %></b>(<%= @new_tasks.length %>)</li>
	 <li><b><%= link_to "Invalid Task", invalid_task_url,:method => :get %></b>(<%= @invalid_tasks.length %>)</li>
	 <% if admin_role %>
	   <li><b><u><%= link_to "Resolved Task", resolved_task_url,:method => :get %></u></b>(<%= @resolved_tasks.length %>)</li>
	   <li><b><%= link_to "Completed Task", done_task_url,:method => :get %></b>(<%= @done_tasks.length %>)</li>
	 <% end %>
	 </ul>
	
</div>

</div>



<div id="footer">
</div>