<div id="content-wrap">

<div id="sidebar">
	<%= form_tag update_role_url, :method => :put do %>
	  <% if @permission.errors.any? %>
	    <div class="error_messages">
		  <h2>Form is valid</h2>
		  <ul>
			  <% for message in @permission.errors.full_messages %>
			  <li><%= message%></li>
			  <% end %>
		  </ul>
		</div>
	  <% end %>

  <h1> Select role: </h1>
  <p><%= select_tag :role_id, options_for_select(@roles.collect{ |u| [u.name, u.id] }) %></p>
  <h1> Person with access: </h1>
  <p><%= select_tag :person_id, options_for_select(@people.collect{ |p| [p.person.name, p.person.id] }) %></p>
  <%= hidden_field_tag :project_id, current_project.id %>
  <div class="submit">
	  <% if current_role %>
        <p class="align-right"><%= submit_tag "Update role", :class => "button" %></p>
      <% end %>
  </div>
  <% end %>

<%= form_for @permission, :url => project_permissions_url, :html => {:class => "person"} do |f| %>
  <h1> Add person to access: </h1>
  <p><%= f.select :person_id, options_for_select(@add_people.collect{ |u| [u.name, u.id] }) %></p>
  <%= f.hidden_field :project_id, :value => current_project.id %>
  <%= f.hidden_field :role_id, :value => 3 %>
  <div class="submit"><p class="align-right"><%= submit_tag "Add person access", :class => "button" %></p></div>
<% end %>

</div>

<div id="main"> <a name="TemplateInfo"></a>
  <h1> Project Roles </h1>
    <h3> ADMINISTRATOR:</h3> 
	<ul>
	<% for admin_role in @admin_roles %>
	  <li><%= admin_role.person.name %></li>
	<% end %>
	</ul>

    <h3> USER:</h3> 
	<ul>
	<% for user_role in @user_roles %>
	  <li><%= user_role.person.name %></li>
	<% end %>
	</ul>

    <h3> SPECTATOR:</h3>
		<ul>
	<% for spec_role in @spec_roles %>
	  <li><%= spec_role.person.name %></li>
	<% end %>
	</ul>
</div>

</div>


<div id="footer">
</div>