<div id="left-side" class="matting">
  <h3> Project Roles </h3>
  <div class="field"> 
    <h4> ADMINISTRATOR:</h4> 
	<% for admin_role in @admin_roles %>
	  <div style="margin-left:1.3cm;display: inline;">
	  <%= admin_role.person.name %></div> <br>
	<% end %>
  </div>
  <div class="field"> 
    <h4> USER:</h4> 
	<% for user_role in @user_roles %>
	  <div style="margin-left:1.3cm;display: inline;">
	  <%= user_role.person.name %></div> <br>
	<% end %>
  </div>
  <div class="field"> 
    <h4> SPECTATOR:</h4>
	<% for spec_role in @spec_roles %>
	  <div style="margin-left:1.3cm;display: inline;">
	  <%= spec_role.person.name %></div> <br>
	<% end %>
  </div>
</div>

<div id="right-side">
	<%= form_tag update_role_url, :method => :put do %>
	  <% if @permission.errors.any? %>
	    <div class="error_messages">
		  <h2>Form is valid</h2>
		  <ul>
			  <% for message in @permission.errors.full_messages %>
			  <li><%= message%></li>
			  <% end %>
		  </ul>
		</div>
	  <% end %>

  <h5> Select role: </h5>
  <%= select_tag :role_id, options_for_select(@roles.collect{ |u| [u.name, u.id] }) %><br> <br>
  <h5> Person with access: </h5>
  <%= select_tag :person_id, options_for_select(@people.collect{ |p| [p.person.name, p.person.id] }) %>
  <%= hidden_field_tag :project_id, current_project.id %><br><br>
  <div class="submit">
	  <% if current_role %>
        <%= submit_tag "Update role" %> 
      <% end %>
  </div>
  <% end %>
</div>