<ul class="nav navbar-nav">

	<% if current_page?(project_permissions_url(current_project)) %>
	<li><%= link_to 'Dashboard',dashboard_url %></li>
    <li><%= link_to current_project.name + ' Overview', overview_project_url(current_project) %></li>   
  <% if current_role == 'Administrator' || admin_role %>
    	<li class="active"><%= link_to 'Permissions', project_permissions_url(current_project) %></li>
  <% end %>
    <li><%= link_to 'Tasks', project_tasks_url(current_project), :class => "left" %></li>

	<% elsif current_page?(overview_project_url(current_project)) %>
	<li><%= link_to 'Dashboard',dashboard_url %></li>
    <li class="active"><%= link_to current_project.name + ' Overview', overview_project_url(current_project) %></li>   
  <% if current_role == 'Administrator' || admin_role %>
    	<li><%= link_to 'Permissions', project_permissions_url(current_project) %></li>
  <% end %>
    <li><%= link_to 'Tasks', project_tasks_url(current_project), :class => "left" %></li>

	<% else %>
	<li><%= link_to 'Dashboard',dashboard_url %></li>
    <li><%= link_to current_project.name + ' Overview', overview_project_url(current_project) %></li>   
  <% if current_role == 'Administrator' || admin_role %>
    	<li><%= link_to 'Permissions', project_permissions_url(current_project) %></li>
  <% end %>
    <li class="active"><%= link_to 'Tasks', project_tasks_url(current_project), :class => "left" %></li>
	<% end %>
</ul>






